@page
@model Cinema_PE.Pages.Home.LoginModel
@{
}


<div class="container mx-auto">
    <div class="p-4 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8  mx-auto">
        <form class="space-y-6" method="post">
            @if (TempData["msg"] != null)
            {
                <div class="p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800" role="alert">
                    <span class="font-medium">@TempData["msg"]</span>
                </div>
            }
            @if (TempData["notFound"] != null)
            {
                <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
                    <span class="font-medium">@TempData["notFound"]</span>
                </div>
            }

            <h5 class="text-xl font-medium text-gray-900 ">Sign in to our platform</h5>
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Your email</label>
                <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="name@company.com">
                @if (TempData["emailErr"] != null)
                {
                    <span class="text-xs text-red-600 mt-1 ml-1">@TempData["emailErr"]</span>

                }
            </div>
            <div>
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Your password</label>
                <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                @if (TempData["passwordErr"] != null)
                {
                    <span class="text-xs text-red-600 mt-1 ml-1">@TempData["passwordErr"]</span>

                }
            </div>
            <div class="flex items-start">
                <div class="flex items-start">
                    <div class="flex items-center h-5">
                        <input id="remember" aria-describedby="remember" type="checkbox" class="bg-gray-50 border border-gray-300 focus:ring-3 focus:ring-blue-300 h-4 w-4 rounded ">
                    </div>
                    <div class="text-sm ml-3">
                        <label for="remember" class="font-medium text-gray-900 ">Remember me</label>
                    </div>
                </div>
                <a href="#" class="text-sm text-blue-700 hover:underline ml-auto ">
                    Lost
                    Password?
                </a>
            </div>
            <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Login to your account</button>
            <div class="text-sm font-medium text-gray-500 ">
                Not registered? <a asp-page="register" class="text-blue-700 hover:underline ">Create account</a>
            </div>
        </form>
    </div>
</div>